<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful Login Comunication_LTD</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<p>"Hello,Welcome to our Comunication_LTD company"</p>
<p>"Add new customer:"</p>
<form action="Add_Customer" method="post">
1.Name Customer: <input type="text" id="username" name="username"/>
2.Country Customer: <input type="text" id="country" name="country"/>
3.City Customer: <input type="text" id="city" name="city"/>
4.Phone Customer: <input type="text" id="phone" name="phone"/>
<input type="submit" value="Add_Customer" id="Add_Customer" name="Add_Customer">
<br>
<p><a href=Go_Back_To_Homepage ><button>Go_Back_To_Homepage</button></a></p>
</form>
<form action="Display_Customer" method="post">
<input type="submit" value="Display_Customer" id="Display_Customer" name="Display_Customer">
</form>
</body>
</html>