<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filed_Login_Page</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="header">
    <h1>Failed to LogIn</h1>
</div>
<div data-role="Content">
        <h3>Failed login because the next possible options:</h3>
        <p>1. The input username: {{ message[0] }} -> does not match to any username from the DB</p>
        <p>2. The input username: {{ message[0] }} -> is lock you need to wait until 30 min will be pass</p>
        <p>3. The input password: {{ message[1] }} -> does not match to the password that save on DB</p>
        <p>Note:After 3 Times fail to login the User will be lock for 30 min"</p>
        <input type="button" onclick="goBack()" value="Back">
    </div>
<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>