<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="header" >
            <h1>Welcome to Communication_LTD Homepage</h1>
    </div>
    <div data-role="content">
        <form action="Login_Window" method="post">
            User Name: <input type="text" id="username" name="username"/>
            <br>
            Password: <input type="password" id="password" name="password"/>
            <br>
            <input type="submit" value="Log In" id="logInBtn" name="logInBtn">
            <br>
            <input type="checkbox" value="loginwithsqlinjection" name="loginwithsqlinjection">
            Enable Login with SQL-Injection:
            <br>
            <br>
            <input type="submit" value="Create New Account" name="logInBtn">
            <input type="submit" value="Forget Password" name="logInBtn">
            <input type="submit" value="Change Current Password" name="logInBtn">
        </form>
    </div>
</body>
</html>