<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful Create New Account</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="header">
        <h1>Welcome to Successful Create New Account Page</h1>
    </div>
<div data-role="content">
    <p>Your user is added successfully! , please login</p>
    <a href=Go_Back_To_Homepage ><button>BAck to homepage</button></a>
</div>
</body>
</html>