<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Account</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
		<h1>Welcome to Create New Account Page</h1>
        <form action="Create_Account_Window" method="post">
            User Name:<input type="text" 	 id="username" name="username"/>
            <br>
            Password:<input  type="password" id="password" name="password"/>
            <br>
            Email: 	 <input  type="text"     id="email" name="email"/>
            <br>
            Id:      <input  type="text"     id="id"    name="id"/>
            <br>
            Age:     <input  type="text"     id="age"	name="age"/>
            <br>
			<input type="submit"  value="Create Account" id="createAccount" name="createAccount">
			<p><a href=Go_Back_To_Homepage ><button>Go_Back_To_Homepage</button></a></p>
        </form>


</body>
</html>