<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Account</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="header">
        <h1>Welcome to Create New Account Page</h1>
    </div>
    <div data-role="content">
        <form action="Create_Account_Window" method="post">
            User Name:<input type="text" 	 id="username" name="username"/>
            Password:<input  type="password" id="password" name="password"/>
            Email: 	 <input  type="text"     id="email" name="email"/>
            Id:      <input  type="text"     id="id"    name="id"/>
            Age:     <input  type="text"     id="age"	name="age"/>
			<input type="submit"  value="Create Account" id="createAccount" name="createAccount">
			<a href=Go_Back_To_Homepage ><button>Back to homepage</button></a>
        </form>

</div>
</body>
</html>