<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed Send Verficication Code</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<h1>Failed Send Verficication Code</h1>
<p>"Failed Send Verficication Code because one of the next possible options:"</p>
<p>"1. The input username: {{ message }} is not exist on our DB, please choose different username"</p>
<p><a href=Go_Back_To_Homepage ><button>Go_Back_To_Homepage</button></a></p>
</body>
</html>