<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Verification Code</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<p>"We send to your Email: {{ message }} random code"</p>
        <form action="Check_Verification_Code" method="post">
            Enter The Random Code: <input type="text" id="random_code" name="random_code"/>
            <br>
            <input type="submit" value="Check_Code" id="Check_Code" name="Check_Code">
        </form>

</body>
</html>