<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="header">
    <h1>Update Password</h1>
</div>
<div data-role="content">
<h3>You are change the password for user: {{ message }}"</h3>
    <form action="Update_Password" method="post">
    New Password: <input name="newPassword" type="password" id="newPassword" />
    <br>
    <input type="submit" value="Update Password" id="Update_Password" name="Update_Password">
	</form>
    </div>
</body>
</html>