<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incorrect Verification Code</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="header">
    <h1>Incorrect Verification Code</h1>
</div>
<div data-role="content">
        <h3>Wrong Code, Please try again!</h3>
        <a href=Go_Back_To_Homepage ><button>Back to homepage</button></a>
    </div>
</body>
</html>