<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed Change Password</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<h1>Welcome to Failed Change Password  Page</h1>
<p>"Failed Change Password because one of the next possible options:"</p>
<p>"1. The input password: {{ message }} -> is on the 100_common_password"</p>
<p>"2. The input len of the password:{{ message }} -> is to low from the minimum required"</p>
<p>"3. The input password: {{ message }} is must include 3 of the next 4 parameters :digit,upper_letter,lower_letter,special_symbol"</p>
<p>"4. The input password: {{ message }} is already one of the last 10 password you used before, please choose different password"</p>
<p><a href=Go_Back_To_Homepage ><button>Go_Back_To_Homepage</button></a></p>
</body>
</html>