<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful Change Password</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<h1>Welcome to Successful Change Password</h1>
<p>"Please return to the homepage and try login "</p>

<p><a href=Go_Back_To_Homepage ><button>Go_Back_To_Homepage</button></a></p>

</body>
</html>