<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot_Password</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="header">
    <h1>Welcome to Forgot Password Page</h1>
    </div>
<div data-role="content">
<form action="Forgot_Password" method="post">
User Name:<input type="text" id="username" name="username"/>
Send Verification Code to the email that associated to your username:<input type="submit"  value="Send Verification Code" id="Forgot_Password" name="Forgot_Password">
   
</form>
</div>
</body>
</html>