<!DOCTYPE html>
<html>
<head>    
	<meta charset="UTF-8">
    <title>Display all customers</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>title></title>
</head>
<body>
<div data-role="header">
    <h1>Customers Table</h1>
</div>
<div data-role="content">
<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>City</th>
		<th>Phone</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
				<td>{{row[3]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <a href=Go_Back_To_Homepage ><button>Back to homepage</button></a>
    </div>
</body>
</html>