<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Current Password</title>
    <link rel="stylesheet" href="../static/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <form action="Change_Current_Password" method="post">
	Current Username: <input name="username" type="text" id="username" />
	Current Password: <input name="currentPassword" type="password" id="currentPassword" />
    New Password: <input name="newPassword" type="password" id="newPassword" />
    <br>
    <input type="submit" value="Change Password" id="Change_Password" name="Change_Password">
	</form>
</body>
</html>
